<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }
        select {
         display: inline-block;
            width: 200px;
        }
        input {
        display: inline-block;
            width: 200px;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body onload="getData()">
<h4>Create new book:</h4>
<div class="row">
        <a href="add.html" th:href="@{/author/add}"><button>ADD AUTHOR</button></a>
        <a href="add.html" th:href="@{/genre/add}"><button>ADD GENRE</button></a>
</div>
<form id="add-form">

    <div class="row">
        <label for="book-title">Title:</label>
        <input id="book-title" type="text" name="title"/>
    </div>

    <div class="row">
        <label for="book-author-id">Author:</label>
        <select id="book-author-id" name="authorId"></select>
    </div>

    <div class="row">
        <label for="book-genre-id">Genre:</label>
        <select id="book-genre-id" name="genreId"></select>
    </div>
    <button type="button" onclick="saveBook()" class="btn btn-success btn-lg">SAVE</button>
    <a href="list.html" th:href="@{/book}">
        <button type="button">CANCEL</button>
    </a>
</form>

<script>
    function getData(){
        fetch("/api/v1/author")
            .then(response => response.json())
            .then(authors => {
                    const authorInput = document.getElementById('book-author-id')
                    authors.forEach(author =>{
                    authorInput.add(new Option(author.fullName, author.id));
                });
            });

        fetch("/api/v1/genre")
            .then(response => response.json())
            .then(genres => {
                genres.forEach(genre =>{
                const genreInput = document.getElementById('book-genre-id')
                genreInput.add(new Option(genre.name, genre.id));
                });
            });
    }
</script>
<script>
    function saveBook(){
        const title = document.getElementById("book-title").value;
        const authorId = document.getElementById("book-author-id").value;
        const genreId = document.getElementById("book-genre-id").value;

        const bookCreateDto = {title: title, authorId: authorId, genreId: genreId}

        fetch('/api/v1/book', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(bookCreateDto)
            }).then(response => window.location.replace('/book'))

    }
</script>
</body>
</html>