<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<h4>Update book:</h4>
<form id="edit-form" action="edit.html" th:method="post" th:action="@{/book/edit(id=${book.id})}">
    <div class="row">
        <label for="book-id">Id:</label>
        <input id="book-id" type="text" readonly="readonly" name="id"  th:value="${book.id}" />
    </div>

    <div class="row">
        <label for="book-title">Title:</label>
        <input id="book-title" type="text" name="title" th:value="${book.title}"/>
    </div>

    <div class="row">
        <label for="book-author-name">Author:</label>
        <select class="form-control" id="book-author-name" name="authorName">-->
            <option value="">Select author</option>
            <option th:each="authorName : ${authors}"
                    th:value="${authorName}"
                    th:text="${authorName}"
                    th:selected="${authorName == book.author.fullName}">
            </option>
        </select>
    </div>

    <div class="row">
        <label for="book-genre-name">Genre:</label>
        <select class="form-control" id="book-genre-name" name="genreName">-->
            <option value="">Select genre</option>
            <option th:each="genreName : ${genres}"
                    th:value="${genreName}"
                    th:text="${genreName}"
                    th:selected="${genreName == book.genre.name}">
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit">SAVE</button>
        <a href="list.html" th:href="@{/book}"><button type="button">CANCEL</button></a>
    </div>
</form>

</body>
</html>
