<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="reader" class="ru.otus.marchenko.dao.reader.CSVReader">
        <property name="fileName" value="quizlet.csv"/>
    </bean>

    <bean id="parser" class="ru.otus.marchenko.dao.parser.ParserImpl">
        <property name="resourceReading" ref="reader"/>
    </bean>

    <bean id="dao" class="ru.otus.marchenko.dao.QuizletDaoImpl">
        <constructor-arg name="parser" ref="parser"/>
    </bean>

    <bean id="quizlet" class="ru.otus.marchenko.services.QuizletService">
        <constructor-arg name="dao" ref="dao"/>
    </bean>
</beans>
